<%= stylesheet_link_tag 'eventsindex.css' %>
<h1>Events</h1>

<table class="list-events">
  <tr>
    <th>Time</th>
    <th>Presenter</th>
    <th>Events</th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <td>
    <%= event.time.strftime("%H:%M") %>
    </td>
    <td>
    <%= event.presenter %>
    <td>
    <%= link_to event.title, event, :class=> "event-title" %>
    </td>
  </tr>
<% end %>
</table>